/* 
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

 */

/* universal selector: to reset the page  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body content will be inherit */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* 1.7% bigger than pre-defined line height  */
    line-height: 1.7;
    color: #777;
    /* padding through all the body  */
    padding: 30px;
}

.header {
    /* 95vh gives 95% of the view-height  */
    height: 95vh;
    background-color: blue;
    background-image: linear-gradient(to right bottom,
            rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)),
        url(../img/hero.jpg);
    /* cover always fit the image inside the box  */
    background-size: cover;
    /* when the browser size change, background-position stay same  */
    background-position: center;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    /* it take reference from parent element which has position relative */
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    /* width is automatically assign by browserd */
    height: 35px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    /* shifted -40% left, -50% top of the element itself not with the parent element */
    transform: translate(-40%, -50%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    /* to avoid shaking while animation  */
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    /* for animation  */
    animation-name: moveFromLeft;
    animation-duration: 1s;

    /* how animation occur with time  */
    animation-timing-function: ease-out;

    /* how many time the animation will occur  */
    /* animation-iteration-count: 3; */

    /* animation wait for 3sec afer page reload */
    /* animation-delay: 3s; */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    /* for animation  */
    animation: moveFromRight 1s ease-out;
}

/* for animation */
/* NOTE: browser primitively support opacity and transfrom only  */
@keyframes moveFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}